#page-landing {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: var(--color-text-in-primary);
    background: var(--color-primary);
  }
  
  #logo-container img {
    height: 28rem;
    max-width: 100%;
  }
  
  .hero-image {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    max-width: 100%;
  }
  
  #logo-container {
    text-align: center;
    margin-bottom: 2.2rem;
  }
  
  #logo-container h2 {
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 4.0rem;
    margin-top: 0.4rem;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
  }
  
  .buttons-container a {
    width: 25rem;
    height: 8.4rem;
    border-radius: 0.8rem;
    font: 700 1.7rem Archivo;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  
    text-decoration: none;
    color: var(--color-button-text);
  
    transition: background-color 0.2s;
  }
  
  .buttons-container a:first-child {
    margin-right: 1.6rem;
  }
  
  .buttons-container a img {
    width: 3rem;
  }
  
  .buttons-container a.reserve-car {
    background: var(--color-primary-lighter);
  }
  
  .buttons-container a.list-reservations {
    background: var(--color-secundary);
  }
  
  .buttons-container a.reserve-car:hover {
    background: var(--color-primary-light);
  }
  
  .buttons-container a.list-reservations:hover {
    background: var(--color-secundary-dark);
  }
  
  .buttons-container a img {
    margin-right: 2.4rem;
  }
  
  .total-reservations {
    font-size: 1.4rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .total-reservations img {
    margin-left: 0.8rem;
  }

@media (max-width: 475px) {
  .buttons-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
  }

  .buttons-container a {
    width: 100%;
  }
}